<!DOCTYPE html>
<main>
  <div id="rootComponent">
    <header><h1>Welcome, {{title}}</h1></header><br/>
  <div>
    <h4>=====1=====</h4>
      <app-inner-one (emitter)="saySomething($event)"></app-inner-one>
    <h4>===========</h4>
  </div>

  <div>
    <h4>=====2=====</h4>
      <form [formGroup] = "myReactiveForm">
        <label for = "autore">Type something: </label>
        <input type="text" formControlName="myAutore" [(ngModel)]="authorName"/>
        <button (click)="searchAuthor()">Invio</button>
      </form>
    <h4>===========</h4>
  </div>

  <div>
    <h4>=====3=====</h4>
      <button (click)="buttonClicked()">Click to insert a sub component</button>
      <ol>
        @for (item of components; track $index) {
          <app-sub-component [component]="item"></app-sub-component>
        }@empty {
          <h4>No components added yet</h4>
        }
      </ol>
    <h4>===========</h4>
  </div>

  <div>
    <h4>=====4=====</h4>
      <app-request-sender></app-request-sender>
    <h4>===========</h4>
  </div>

  <div>
    <h4>=====5=====</h4>
      <h4>this is a placeholder for a component</h4>
    <h4>===========</h4>
  </div>
  <router-outlet />
</div>
